:root {
  --primary-color: #00bcd4;
  --body-color: #e1e1e1;
  --strong-body-color: #fff;
  --border-color: transparent;
  --scrollbar-thumb-background: rgb(95, 113, 136);
  --scrollbar-thumb-background-hover: rgb(153, 171, 193);
  --scrollbar-thumb-background-active: rgb(131, 161, 197);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #e1e1e1;
  overflow: auto;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollbar-thumb-background);
}
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-background-hover);
}
*::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-background-active);
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}

a {
  color: var(--primary-color);
}

pre {
  white-space: pre;
}

blockquote {
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid var(--primary-color);
  background-color: #333;
  border-radius: 0 4px 4px 0;
}

.bg {
  background: radial-gradient(circle at 80% 20%, rgba(17, 75, 109, 0.3) 0%, transparent 40%), linear-gradient(to bottom right, #0c0e15, #141824);
}

.pad-10 {
  padding: 10px 0;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.jy-field {
  margin: 0 0 30px 0;
  padding: 0 10px;
  border: none;
}
.jy-field legend {
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: var(--strong-body-color);
}

.jy-header {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 60px;
  z-index: 3;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.5);
  *zoom: 1;
}
.jy-header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  height: 100%;
  padding: 0 20px;
  line-height: 60px;
  font-size: 26px;
  color: var(--strong-body-color) !important;
  text-decoration: none;
}
.jy-header .logo-icon {
  width: 40px;
  margin-right: 10px;
}
.jy-header .app-name {
  font-weight: bold;
  font-size: 20px;
}
.jy-header .jy-header-right {
  display: flex;
  align-items: center;
}
.jy-header .jy-header-right .icon-github {
  font-size: 40px;
  line-height: 1em;
  margin-right: 10px;
  color: white !important;
  text-decoration: none;
}

.jy-side-menu {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  width: 268px;
  border-right: 1px solid var(--border-color);
  box-sizing: border-box;
  overflow: hidden;
}
.jy-side-menu .jy-side-scroll {
  position: relative;
  width: 288px;
  height: 100%;
  overflow-y: auto;
}
.jy-side-menu .jy-menu-nav {
  width: 268px;
  padding: 0;
  background-color: transparent;
}
.jy-side-menu .jy-menu-nav a {
  font-size: 16px;
  transition: all 0.3s;
}
.jy-side-menu .jy-menu-nav a:hover {
  color: var(--primary-color);
}
.jy-side-menu .jy-menu-nav .jy-menu-checked {
  background-color: transparent;
  font-weight: bold;
  font-size: 22px;
  color: var(--primary-color);
}

.jy-frame-container {
  position: absolute;
  top: 60px;
  left: 268px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.jy-frame-container .jy-tab {
  width: 100%;
  height: 100%;
}
.jy-frame-container .jy-tab iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  border: 0;
}
.jy-frame-container .jy-tab .jy-tab-header {
  display: none;
}
.jy-frame-container .jy-tab .jy-tab-content {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 0;
  box-sizing: border-box;
}
.jy-frame-container .jy-tab .jy-tab-item {
  width: 100%;
  height: 100%;
  padding: 0;
}
.jy-frame-container .jy-layer-shadow,
.jy-frame-container .jy-layer-loading {
  display: none;
}

.jy-content-wrap {
  display: flex;
  padding: 0 100px;
}

.jy-content {
  position: relative;
  padding: 10px;
  width: 900px;
  *zoom: 1;
  line-height: 1.8em;
}
.jy-content .jy-content-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 50px;
  line-height: 50px;
  *zoom: 1;
}
.jy-content .jy-content-header:before, .jy-content .jy-content-header:after {
  content: "";
  display: block;
  clear: both;
}
.jy-content .jy-content-header + * {
  margin-top: 50px;
}
.jy-content .jy-content-title {
  float: left;
  margin-left: 15px;
  font-size: 22px;
  font-weight: bold;
  color: var(--strong-body-color);
}
.jy-content .jy-field-box {
  padding-top: 10px;
}
.jy-content .jy-content-btns {
  float: right;
  margin-right: 15px;
}
.jy-content img {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

.desc {
  color: #777;
}

/*# sourceMappingURL=frame.css.map */
